n8n-workflows/rag-pdf-ingest-v2.json
[{"updatedAt":"2026-04-26T08:49:47.540Z","createdAt":"2026-04-26T08:47:48.507Z","id":"yzD6Yq4dn0CpL4qf","name":"RAG - PDF取り込み v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-pdf","responseMode":"responseNode","options":{}},"id":"a97a2891-1d01-4c68-bfd7-2bc9a334ec7e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"be1ff75d-3e85-4827-bbf6-2392251d28bb"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-auth","leftValue":"={{ $json.headers['x-api-key'] }}","operator":{"type":"string","operation":"equals"},"rightValue":"rag-local-dev-key-2025"}],"combinator":"and"},"options":{}},"id":"a7efa430-81ae-4541-b042-013c0beac490","name":"API認証","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,0]},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"Unauthorized\", \"message\": \"Valid API key required in X-API-Key header\"}","options":{"responseCode":401}},"id":"f3f19464-75db-4f20-afc5-952acb9c720d","name":"401 Unauthorized","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[256,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-file-exists","leftValue":"={{ $binary && $binary.file ? 'exists' : '' }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1bd35da7-ad52-4217-b76f-e9d770e3202c","name":"ファイルチェック","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,0]},{"parameters":{"jsCode":"const webhookData = $('Webhook').first();\nconst src = (webhookData.binary && webhookData.binary.file && webhookData.binary.file.fileName)\n  ? webhookData.binary.file.fileName.replace(/'/g, \"''\")\n  : 'unknown';\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-pdf', '${src}', '400')`;\nreturn [{ json: { sql } }];"},"id":"606f7a6b-e5e5-478b-aff5-404153ee84b2","name":"400ログ準備(ファイル)","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"66af9bd3-dc40-4694-9d5a-3df706028a95","name":"400ログ(ファイル)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[752,304],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"PDFファイルが必要です\"}","options":{"responseCode":400}},"id":"6f9f22d8-1a8c-4382-b754-3c45b65ad08c","name":"400 Bad Request","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1008,304]},{"parameters":{"operation":"pdf","binaryPropertyName":"file","options":{}},"id":"354de092-7e67-40ce-aa60-ccbdfda046bc","name":"テキスト抽出","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[752,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-text-notempty","leftValue":"={{ ($json.text || '').trim() }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8ebde475-2054-422d-a6b4-837a92ac0cbe","name":"テキストチェック","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,0]},{"parameters":{"jsCode":"const webhookData = $('Webhook').first();\nconst src = (webhookData.binary && webhookData.binary.file && webhookData.binary.file.fileName)\n  ? webhookData.binary.file.fileName.replace(/'/g, \"''\")\n  : 'unknown';\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-pdf', '${src}', '422')`;\nreturn [{ json: { sql } }];"},"id":"17f7ba39-6ce6-42c2-ba15-88f6e403e411","name":"422ログ準備","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,512]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"412fdc95-6ef8-4069-9452-1415c44f6f28","name":"422ログ","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1264,512],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"PDFからテキストを抽出できませんでした\"}","options":{"responseCode":422}},"id":"c0f672c3-a672-4b9f-8ea8-a0bdf1895c4c","name":"422 Unprocessable","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1504,512]},{"parameters":{"operation":"executeQuery","query":"{{ \"WITH deleted AS (DELETE FROM documents WHERE source = '\" + (($('Webhook').first().binary && $('Webhook').first().binary.file && $('Webhook').first().binary.file.fileName) ? $('Webhook').first().binary.file.fileName : ($('Webhook').first().json.body && $('Webhook').first().json.body.source ? $('Webhook').first().json.body.source : 'unknown')).replace(/'/g, \"''\") + \"' RETURNING id) SELECT COUNT(*) AS deleted_count FROM deleted\" }}","options":{}},"id":"89228ff6-f3a2-42cb-b774-c97db079d05f","name":"既存削除","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1264,0],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"jsCode":"const text = $('テキスト抽出').first().json.text;\nconst deletedCount = parseInt($input.first().json.deleted_count) || 0;\nconst replaced = deletedCount > 0;\nreturn [{ json: { text, replaced } }];"},"id":"ef72cc9b-cc42-4651-8de9-e9af5e9cc3ea","name":"データ復元","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,0]},{"parameters":{"jsCode":"const text = $input.first().json.text;\nconst replaced = $input.first().json.replaced;\nconst maxChunkSize = 200;\nconst overlapSize = 50;\n\nconst sentences = text.split(/(?<=。)/);\nconst rawChunks = [];\nlet currentChunk = '';\n\nfor (const sentence of sentences) {\n  if ((currentChunk + sentence).length > maxChunkSize && currentChunk.length > 0) {\n    rawChunks.push(currentChunk.trim());\n    currentChunk = sentence;\n  } else {\n    currentChunk += sentence;\n  }\n}\n\nif (currentChunk.trim().length > 0) {\n  rawChunks.push(currentChunk.trim());\n}\n\nconst chunks = [];\nfor (let i = 0; i < rawChunks.length; i++) {\n  let content = rawChunks[i];\n  if (i > 0) {\n    const overlap = rawChunks[i - 1].slice(-overlapSize);\n    content = overlap + content;\n  }\n  chunks.push({ json: { content, chunk_index: i, replaced } });\n}\n\nreturn chunks;"},"id":"d5fc3891-7728-4400-8620-f313f22fe517","name":"チャンク分割","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,0]},{"parameters":{"method":"POST","url":"http://localhost:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'bge-m3', prompt: $json.content }) }}","options":{}},"id":"024544e6-448a-4a93-bb60-45145c276cd0","name":"Embedding生成","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,0],"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-emb-noerror","leftValue":"={{ $json.error }}","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7073ed68-2681-49c5-9ab4-bf222f37f102","name":"Embeddingエラーチェック","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2256,0]},{"parameters":{"jsCode":"const webhookData = $('Webhook').first();\nconst src = (webhookData.binary && webhookData.binary.file && webhookData.binary.file.fileName)\n  ? webhookData.binary.file.fileName.replace(/'/g, \"''\")\n  : 'unknown';\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-pdf', '${src}', '503')`;\nreturn [{ json: { sql } }];"},"id":"864c4d32-750a-4c3d-9d31-36525ab80158","name":"Ollama503ログ準備(PDF)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,304]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"e0e1e273-f0f0-4dba-a13c-f1e876e4522d","name":"Ollama503ログ(PDF)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2512,304],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"LLMサービスに接続できません\"}","options":{"responseCode":503}},"id":"07bb3ebf-d493-4c54-9b55-9ecb89fc4a9a","name":"503 LLM Error(PDF)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2752,304]},{"parameters":{"jsCode":"const embeddingResults = $input.all();\nconst chunks = $('チャンク分割').all();\nconst webhookData = $('Webhook').first();\nconst source = (webhookData.binary && webhookData.binary.file && webhookData.binary.file.fileName) ? webhookData.binary.file.fileName : (webhookData.json.body && webhookData.json.body.source ? webhookData.json.body.source : 'unknown');\nconst replaced = chunks[0] ? chunks[0].json.replaced : false;\nconst results = [];\n\nfor (let i = 0; i < embeddingResults.length; i++) {\n  const embedding = embeddingResults[i].json.embedding;\n  const content = chunks[i].json.content.replace(/'/g, \"''\");\n  const embeddingStr = '[' + embedding.join(',') + ']';\n  results.push({\n    json: { content: content, embedding: embeddingStr, source: source, replaced: replaced }\n  });\n}\n\nreturn results;"},"id":"17e2c4e3-25a9-41ba-83d4-30748397a9f1","name":"ベクトル整形","type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO documents (content, embedding, source) VALUES ('{{ $json.content }}', '{{ $json.embedding }}'::vector, '{{ $json.source }}')","options":{}},"id":"166f7870-0b2d-48b5-8ff3-2056aecf8ba9","name":"DB保存","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2752,0],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-pg-noerror","leftValue":"={{ $json.error }}","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"73ba441f-3cc5-4aa5-a47e-6b9d74725217","name":"DBエラーチェック(PDF)","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3008,0]},{"parameters":{"jsCode":"const webhookData = $('Webhook').first();\nconst src = (webhookData.binary && webhookData.binary.file && webhookData.binary.file.fileName)\n  ? webhookData.binary.file.fileName.replace(/'/g, \"''\")\n  : 'unknown';\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-pdf', '${src}', '503')`;\nreturn [{ json: { sql } }];"},"id":"ba5ddbf5-8a97-4c33-994c-4ed58f5f7a05","name":"DB503ログ準備(PDF)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,512]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"e2ebfc59-ccca-46a7-a93b-c3f174ce8304","name":"DB503ログ(PDF)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3264,512],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"データベースに接続できません\"}","options":{"responseCode":503}},"id":"3a4d6c20-f82b-4b91-abb5-ad5487243d37","name":"503 DB Error(PDF)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3504,512]},{"parameters":{"jsCode":"const src = ($('ベクトル整形').first().json.source || 'unknown').replace(/'/g, \"''\");\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-pdf', '${src}', 'success')`;\nreturn [{ json: { sql } }];"},"id":"3987d80f-83bd-44e5-b6a8-ce8a43bd4afe","name":"ログ準備","type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,0]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"9f7d2100-d720-4037-bb8b-75d72535e0b8","name":"アクセスログ","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3504,0],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', chunks: $input.all().length, replaced: $('ベクトル整形').first().json.replaced }) }}","options":{}},"id":"91c3bb0a-04b9-44f7-8866-a5b9a9ff8876","name":"レスポンス","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3760,0]}],"connections":{"Webhook":{"main":[[{"node":"API認証","type":"main","index":0}]]},"API認証":{"main":[[{"node":"ファイルチェック","type":"main","index":0}],[{"node":"401 Unauthorized","type":"main","index":0}]]},"ファイルチェック":{"main":[[{"node":"テキスト抽出","type":"main","index":0}],[{"node":"400ログ準備(ファイル)","type":"main","index":0}]]},"400ログ準備(ファイル)":{"main":[[{"node":"400ログ(ファイル)","type":"main","index":0}]]},"400ログ(ファイル)":{"main":[[{"node":"400 Bad Request","type":"main","index":0}]]},"テキスト抽出":{"main":[[{"node":"テキストチェック","type":"main","index":0}]]},"テキストチェック":{"main":[[{"node":"既存削除","type":"main","index":0}],[{"node":"422ログ準備","type":"main","index":0}]]},"422ログ準備":{"main":[[{"node":"422ログ","type":"main","index":0}]]},"422ログ":{"main":[[{"node":"422 Unprocessable","type":"main","index":0}]]},"既存削除":{"main":[[{"node":"データ復元","type":"main","index":0}]]},"データ復元":{"main":[[{"node":"チャンク分割","type":"main","index":0}]]},"チャンク分割":{"main":[[{"node":"Embedding生成","type":"main","index":0}]]},"Embedding生成":{"main":[[{"node":"Embeddingエラーチェック","type":"main","index":0}]]},"Embeddingエラーチェック":{"main":[[{"node":"ベクトル整形","type":"main","index":0}],[{"node":"Ollama503ログ準備(PDF)","type":"main","index":0}]]},"Ollama503ログ準備(PDF)":{"main":[[{"node":"Ollama503ログ(PDF)","type":"main","index":0}]]},"Ollama503ログ(PDF)":{"main":[[{"node":"503 LLM Error(PDF)","type":"main","index":0}]]},"ベクトル整形":{"main":[[{"node":"DB保存","type":"main","index":0}]]},"DB保存":{"main":[[{"node":"DBエラーチェック(PDF)","type":"main","index":0}]]},"DBエラーチェック(PDF)":{"main":[[{"node":"ログ準備","type":"main","index":0}],[{"node":"DB503ログ準備(PDF)","type":"main","index":0}]]},"DB503ログ準備(PDF)":{"main":[[{"node":"DB503ログ(PDF)","type":"main","index":0}]]},"DB503ログ(PDF)":{"main":[[{"node":"503 DB Error(PDF)","type":"main","index":0}]]},"ログ準備":{"main":[[{"node":"アクセスログ","type":"main","index":0}]]},"アクセスログ":{"main":[[{"node":"レスポンス","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"253a3ff3-2192-4caa-b50a-5d6554777a68","activeVersionId":"253a3ff3-2192-4caa-b50a-5d6554777a68","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T08:47:48.510Z","createdAt":"2026-04-26T08:47:48.510Z","role":"workflow:owner","workflowId":"yzD6Yq4dn0CpL4qf","projectId":"21U36PDQKjiUiMct","project":{"updatedAt":"2026-04-24T13:01:22.199Z","createdAt":"2026-04-24T12:58:04.848Z","id":"21U36PDQKjiUiMct","name":"Takuma Okada <aria51501122@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"161bb8b6-8a84-486a-ad34-b32314133d5b"}}],"versionMetadata":{"name":null,"description":null}}]