n8n-workflows/rag-delete-v2.json
[{"updatedAt":"2026-04-26T09:39:51.672Z","createdAt":"2026-04-26T09:31:48.281Z","id":"L23C7dz2Qtta2suh","name":"RAG - PDF削除v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-delete","responseMode":"responseNode","options":{}},"id":"e3db283e-75db-4f50-a5eb-33cf59298b7d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"050acb37-6a78-4347-a710-4fa37aee188f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-auth","leftValue":"={{ $json.headers['x-api-key'] }}","operator":{"type":"string","operation":"equals"},"rightValue":"rag-local-dev-key-2025"}],"combinator":"and"},"options":{}},"id":"471db269-38a7-41a0-ad26-55ceaf6f25d9","name":"API認証","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,0]},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"Unauthorized\", \"message\": \"Valid API key required in X-API-Key header\"}","options":{"responseCode":401}},"id":"1d9a2814-f438-46c2-9105-0a867e82103c","name":"401 Unauthorized","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[256,304]},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst source = body && body.source ? body.source.trim() : '';\nif (!source) {\n  return [{ json: { valid: false } }];\n}\nreturn [{ json: { valid: true, source: source } }];"},"id":"c08e4ad3-b144-4a7c-a71b-e166344b9ce2","name":"バリデーション","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-001","leftValue":"={{ $json.valid }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ec0a9b1d-8d37-4cd5-b441-722972406891","name":"source確認","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,0]},{"parameters":{"jsCode":"const body = $('Webhook').first().json.body;\nconst src = (body && body.source ? body.source : 'unknown').replace(/'/g, \"''\");\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-delete', '${src}', '400')`;\nreturn [{ json: { sql } }];"},"id":"03ae9a06-da46-44ab-a4d0-1acbdebe1b97","name":"400ログ準備","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,304]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"1160e54c-e7a7-42f0-a4b8-4fe530f23741","name":"400ログ","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,304],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"sourceは必須です\"}","options":{"responseCode":400}},"id":"f4ba2709-0138-42c4-9871-cfcf66766982","name":"400 Bad Request","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1264,304]},{"parameters":{"operation":"executeQuery","query":"WITH deleted AS (DELETE FROM documents WHERE source = '{{ $json.source }}' RETURNING id) SELECT COUNT(*) AS deleted_count FROM deleted","options":{}},"id":"b0ec6fa2-aea2-4491-99c9-a7aa15bde1b9","name":"DB削除","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,0],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-pg-noerror","leftValue":"={{ $json.error }}","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"753c5858-2bab-467a-ba00-c3352b29a7cf","name":"DBエラーチェック(削除)","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,0]},{"parameters":{"jsCode":"const src = ($('バリデーション').first().json.source || 'unknown').replace(/'/g, \"''\");\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-delete', '${src}', '503')`;\nreturn [{ json: { sql } }];"},"id":"99a934ca-cd21-4fb2-a3fb-194a6b8eb29d","name":"DB503ログ準備(削除)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,512]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"6ec79426-9812-4adb-9327-a004d5a8f7c6","name":"DB503ログ(削除)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1504,512],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"データベースに接続できません\"}","options":{"responseCode":503}},"id":"f431dd5b-7411-45fd-8343-c77b152e060e","name":"503 DB Error(削除)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1760,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-count-gt","leftValue":"={{ parseInt($json.deleted_count) }}","operator":{"type":"number","operation":"gt"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"de296cb3-8104-47ec-aeaf-99905f06a34a","name":"deleted_count確認","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,0]},{"parameters":{"jsCode":"const src = ($('バリデーション').first().json.source || 'unknown').replace(/'/g, \"''\");\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-delete', '${src}', '404')`;\nreturn [{ json: { sql } }];"},"id":"fec3ad17-2eed-4a95-99ee-eda640f1d1ec","name":"404ログ準備","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,304]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"74f2afa9-ba37-4f3d-ba87-c8a308deafd0","name":"404ログ","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1760,304],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"指定されたPDFは登録されていません\"}","options":{"responseCode":404}},"id":"5ef17452-ce7c-40bb-bb5d-6e99618bec32","name":"404 Not Found","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,304]},{"parameters":{"jsCode":"const src = ($('バリデーション').first().json.source || 'unknown').replace(/'/g, \"''\");\nconst sql = `INSERT INTO access_logs (endpoint, source_filter, response_status) VALUES ('/rag-delete', '${src}', 'success')`;\nreturn [{ json: { sql } }];"},"id":"dd19eb75-f9e6-46db-9ea8-9163ad47c160","name":"ログ準備","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,0]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"77db506b-efd4-40f2-8b1b-11681d56b028","name":"アクセスログ","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2000,0],"credentials":{"postgres":{"id":"RD0xE5FBMolC4tnj","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', deleted: parseInt($('DB削除').first().json.deleted_count) }) }}","options":{}},"id":"9bf61194-240b-4493-9c2b-ad95f22f9254","name":"成功レスポンス","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2256,0]}],"connections":{"Webhook":{"main":[[{"node":"API認証","type":"main","index":0}]]},"API認証":{"main":[[{"node":"バリデーション","type":"main","index":0}],[{"node":"401 Unauthorized","type":"main","index":0}]]},"バリデーション":{"main":[[{"node":"source確認","type":"main","index":0}]]},"source確認":{"main":[[{"node":"DB削除","type":"main","index":0}],[{"node":"400ログ準備","type":"main","index":0}]]},"400ログ準備":{"main":[[{"node":"400ログ","type":"main","index":0}]]},"400ログ":{"main":[[{"node":"400 Bad Request","type":"main","index":0}]]},"DB削除":{"main":[[{"node":"DBエラーチェック(削除)","type":"main","index":0}]]},"DBエラーチェック(削除)":{"main":[[{"node":"deleted_count確認","type":"main","index":0}],[{"node":"DB503ログ準備(削除)","type":"main","index":0}]]},"DB503ログ準備(削除)":{"main":[[{"node":"DB503ログ(削除)","type":"main","index":0}]]},"DB503ログ(削除)":{"main":[[{"node":"503 DB Error(削除)","type":"main","index":0}]]},"deleted_count確認":{"main":[[{"node":"ログ準備","type":"main","index":0}],[{"node":"404ログ準備","type":"main","index":0}]]},"404ログ準備":{"main":[[{"node":"404ログ","type":"main","index":0}]]},"404ログ":{"main":[[{"node":"404 Not Found","type":"main","index":0}]]},"ログ準備":{"main":[[{"node":"アクセスログ","type":"main","index":0}]]},"アクセスログ":{"main":[[{"node":"成功レスポンス","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"df4ae057-0e7a-4d6b-8cf0-9bb228eb49a0","activeVersionId":"df4ae057-0e7a-4d6b-8cf0-9bb228eb49a0","versionCounter":12,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T09:31:48.284Z","createdAt":"2026-04-26T09:31:48.284Z","role":"workflow:owner","workflowId":"L23C7dz2Qtta2suh","projectId":"21U36PDQKjiUiMct","project":{"updatedAt":"2026-04-24T13:01:22.199Z","createdAt":"2026-04-24T12:58:04.848Z","id":"21U36PDQKjiUiMct","name":"Takuma Okada <aria51501122@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"161bb8b6-8a84-486a-ad34-b32314133d5b"}}],"versionMetadata":{"name":null,"description":null}}]